{% extends 'base.html' %}

{% block title %}Наш блог | Skystore{% endblock %}

{% block content %}

        <!-- Карточки -->
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <!-- Карточка 1 -->
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225">
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Изображение 1</text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">Это карточка с описанием. Вы можете изменить текст и изображение.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary">Смотреть</button>
                                        <button class="btn btn-sm btn-outline-secondary">Редактировать</button>
                                    </div>
                                    <small class="text-body-secondary">9 мин</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225">
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Изображение 1</text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">Это карточка с описанием. Вы можете изменить текст и изображение.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary">Смотреть</button>
                                        <button class="btn btn-sm btn-outline-secondary">Редактировать</button>
                                    </div>
                                    <small class="text-body-secondary">9 мин</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225">
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Изображение 1</text>
                            </svg>
                            <div class="card-body">
                                <p class="card-text">Это карточка с описанием. Вы можете изменить текст и изображение.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary">Смотреть</button>
                                        <button class="btn btn-sm btn-outline-secondary">Редактировать</button>
                                    </div>
                                    <small class="text-body-secondary">9 мин</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

 {% endblock %}